{:mode 2, :first-ai-level 3, :second-ai-level nil, :board [1 2 3 4 5 6 7 8 9], :player :x, :game-id 1, :ui :tui, :moves [[1 2 3 4 :x 6 7 8 9] [:o 2 3 4 :x 6 7 8 9] [:o 2 :x 4 :x 6 7 8 9] [:o 2 :x 4 :x 6 :o 8 9] [:o 2 :x 4 :x :x :o 8 9] [:o 2 :x :o :x :x :o 8 9]] :game-state "O wins!"}
{:game-id 2, :filepath "src/tic_tac_toe/game_logs/in_progress/gui/game-2.edn", :current-screen :play, :moves [[1 2 3 4 :x 6 7 8 9] [:o 2 3 4 :x 6 7 8 9] [:o 2 3 4 :x 6 7 :x 9] [:o :o 3 4 :x 6 7 :x 9] [:o :o 3 4 :x 6 7 :x :x] [:o :o :o 4 :x 6 7 :x :x]], :second-ai-level nil, :mode 2, :first-ai-level 3, :game-state "O wins!", :human? true, :ui :gui, :player :x, :board [1 2 3 4 5 6 7 8 9]}
{:mode 2, :first-ai-level 3, :second-ai-level nil, :board [1 2 3 4 5 6 7 8 9], :player :x, :game-id 3, :ui :tui, :moves [[1 2 3 4 :x 6 7 8 9] [:o 2 3 4 :x 6 7 8 9] [:o 2 3 4 :x :x 7 8 9] [:o 2 3 :o :x :x 7 8 9] [:o 2 3 :o :x :x :x 8 9] [:o 2 :o :o :x :x :x 8 9] [:o 2 :o :o :x :x :x :x 9] [:o :o :o :o :x :x :x :x 9]] :game-state "O wins!"}
{:game-id 4, :filepath "src/tic_tac_toe/game_logs/in_progress/gui/game-4.edn", :current-screen :play, :moves [[1 2 3 4 :x 6 7 8 9] [:o 2 3 4 :x 6 7 8 9] [:o :x 3 4 :x 6 7 8 9] [:o :x 3 4 :x 6 7 :o 9] [:o :x :x 4 :x 6 7 :o 9] [:o :x :x 4 :x 6 :o :o 9] [:o :x :x 4 :x 6 :o :o :x] [:o :x :x :o :x 6 :o :o :x]], :second-ai-level nil, :mode 2, :first-ai-level 3, :game-state "O wins!", :human? true, :ui :gui, :player :x, :board [1 2 3 4 5 6 7 8 9]}
{:game-id 5, :filepath "src/tic_tac_toe/game_logs/in_progress/gui/game-5.edn", :current-screen :play, :moves [[1 2 3 4 :x 6 7 8 9] [:o 2 3 4 :x 6 7 8 9] [:o 2 3 4 :x :x 7 8 9] [:o 2 3 :o :x :x 7 8 9] [:o 2 :x :o :x :x 7 8 9] [:o 2 :x :o :x :x :o 8 9]], :second-ai-level nil, :mode 2, :first-ai-level 3, :game-state "O wins!", :human? true, :ui :gui, :player :x, :board [1 2 3 4 5 6 7 8 9]}
{:mode 2, :first-ai-level 3, :second-ai-level nil, :board [1 2 3 4 5 6 7 8 9], :player :x, :game-id 6, :ui :tui, :moves [[1 :x 3 4 5 6 7 8 9] [:o :x 3 4 5 6 7 8 9] [:o :x 3 :x 5 6 7 8 9] [:o :x 3 :x :o 6 7 8 9] [:o :x 3 :x :o 6 :x 8 9] [:o :x 3 :x :o 6 :x 8 :o]] :game-state "O wins!"}
{:game-id 7, :filepath "src/tic_tac_toe/game_logs/in_progress/gui/game-7.edn", :current-screen :play, :moves [[:x 2 3 4 5 6 7 8 9] [:x 2 3 4 :o 6 7 8 9] [:x :x 3 4 :o 6 7 8 9] [:x :x :o 4 :o 6 7 8 9] [:x :x :o 4 :o 6 :x 8 9] [:x :x :o 4 :o :o :x 8 9] [:x :x :o :x :o :o :x 8 9]], :second-ai-level nil, :mode 3, :first-ai-level 3, :game-state "X wins!", :human? false, :ui :gui, :player :x, :board [1 2 3 4 5 6 7 8 9]}
{:game-id 8, :moves [[1 2 3 :x 5 6 7 8 9] [:o 2 3 :x 5 6 7 8 9] [:o 2 3 :x :x 6 7 8 9] [:o 2 3 :x :x :o 7 8 9] [:o :x 3 :x :x :o 7 8 9] [:o :x 3 :x :x :o 7 :o 9] [:o :x :x :x :x :o 7 :o 9] [:o :x :x :x :x :o :o :o 9] [:o :x :x :x :x :o :o :o :x]], :second-ai-level nil, :mode 2, :first-ai-level 3, :game-state "It is a tie!", :human? true, :ui :tui, :player :x, :board [1 2 3 4 5 6 7 8 9]}
{:game-id 9, :moves [[1 2 3 4 :x 6 7 8 9] [:o 2 3 4 :x 6 7 8 9] [:o 2 :x 4 :x 6 7 8 9] [:o 2 :x 4 :x 6 :o 8 9] [:o :x :x 4 :x 6 :o 8 9] [:o :x :x :o :x 6 :o 8 9]], :second-ai-level nil, :mode 2, :first-ai-level 3, :game-state "O wins!", :human? true, :ui :tui, :player :x, :board [1 2 3 4 5 6 7 8 9]}
{:game-id 13, :filepath "src/tic_tac_toe/game_logs/in_progress/gui/game-13.edn", :current-screen :play, :db :edn, :moves [[:x 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16] [:x 2 3 4 5 6 7 8 9 10 11 12 13 14 15 :o] [:x :x 3 4 5 6 7 8 9 10 11 12 13 14 15 :o] [:x :x 3 4 5 6 7 8 9 :o 11 12 13 14 15 :o] [:x :x :x 4 5 6 7 8 9 :o 11 12 13 14 15 :o] [:x :x :x 4 5 6 7 8 9 :o 11 12 :o 14 15 :o] [:x :x :x :x 5 6 7 8 9 :o 11 12 :o 14 15 :o]], :second-ai-level nil, :mode 3, :first-ai-level 3, :gui true, :game-state "X wins!", :human? false, :ui :gui, :player :x, :board [1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16]}
{:game-id 14, :moves [[1 2 3 4 :x 6 7 8 9] [:o 2 3 4 :x 6 7 8 9] [:o 2 3 :x :x 6 7 8 9] [:o 2 3 :x :x :o 7 8 9] [:o 2 3 :x :x :o :x 8 9] [:o 2 :o :x :x :o :x 8 9] [:o :x :o :x :x :o :x 8 9] [:o :x :o :x :x :o :x 8 :o]], :second-ai-level nil, :mode 2, :first-ai-level 3, :game-state "O wins!", :human? true, :ui :tui, :player :x, :board [1 2 3 4 5 6 7 8 9]}
{:game-id 15, :filepath "src/tic_tac_toe/game_logs/in_progress/game-15.edn", :current-screen :play, :db :edn, :moves [[1 2 3 4 :x 6 7 8 9] [:o 2 3 4 :x 6 7 8 9] [:o :x 3 4 :x 6 7 8 9] [:o :x 3 4 :x 6 7 :o 9] [:o :x :x 4 :x 6 7 :o 9] [:o :x :x 4 :x 6 :o :o 9] [:o :x :x 4 :x :x :o :o 9] [:o :x :x 4 :x :x :o :o :o]], :second-ai-level nil, :mode 2, :first-ai-level 3, :game-state "O wins!", :human? true, :ui :gui, :player :x, :board [1 2 3 4 5 6 7 8 9]}
{:game-id 16, :filepath "src/tic_tac_toe/game_logs/in_progress/game-16.edn", :current-screen :play, :db :edn, :moves [[1 2 3 4 :x 6 7 8 9] [:o 2 3 4 :x 6 7 8 9] [:o :x 3 4 :x 6 7 8 9] [:o :x 3 4 :x 6 7 :o 9] [:o :x 3 4 :x :x 7 :o 9] [:o :x 3 :o :x :x 7 :o 9] [:o :x 3 :o :x :x :x :o 9] [:o :x :o :o :x :x :x :o 9] [:o :x :o :o :x :x :x :o :x]], :second-ai-level nil, :mode 2, :first-ai-level 3, :game-state "It is a tie!", :human? true, :ui :gui, :player :x, :board [1 2 3 4 5 6 7 8 9]}
{:game-id 18, :db :edn, :moves [[1 2 3 4 :x 6 7 8 9] [:o 2 3 4 :x 6 7 8 9] [:o 2 3 4 :x :x 7 8 9] [:o 2 3 :o :x :x 7 8 9] [:o 2 3 :o :x :x :x 8 9] [:o 2 :o :o :x :x :x 8 9] [:o :x :o :o :x :x :x 8 9] [:o :x :o :o :x :x :x :o 9] [:o :x :o :o :x :x :x :o :x]], :second-ai-level nil, :mode 2, :first-ai-level 3, :game-state "It is a tie!", :human? true, :ui :tui, :player :x, :board [1 2 3 4 5 6 7 8 9]}
{:game-id 19, :db :edn, :moves [[1 2 3 4 :x 6 7 8 9] [:o 2 3 4 :x 6 7 8 9] [:o 2 3 4 :x :x 7 8 9] [:o 2 3 :o :x :x 7 8 9] [:o 2 :x :o :x :x 7 8 9] [:o 2 :x :o :x :x :o 8 9]], :second-ai-level nil, :mode 2, :first-ai-level 3, :game-state "O wins!", :human? true, :ui :tui, :player :x, :board [1 2 3 4 5 6 7 8 9]}
{:game-id 20, :filepath "src/tic_tac_toe/game_logs/in_progress/game-20.edn", :current-screen :play, :db :edn, :moves [[1 2 3 4 :x 6 7 8 9] [:o 2 3 4 :x 6 7 8 9] [:o :x 3 4 :x 6 7 8 9] [:o :x 3 4 :x 6 7 :o 9] [:o :x :x 4 :x 6 7 :o 9] [:o :x :x 4 :x 6 :o :o 9] [:o :x :x :x :x 6 :o :o 9] [:o :x :x :x :x 6 :o :o :o]], :second-ai-level nil, :mode 2, :first-ai-level 3, :game-state "O wins!", :human? true, :ui :gui, :player :x, :board [1 2 3 4 5 6 7 8 9]}
{:game-id 21, :db :edn, :moves [[1 2 3 4 :x 6 7 8 9] [:o 2 3 4 :x 6 7 8 9] [:o :x 3 4 :x 6 7 8 9] [:o :x 3 4 :x 6 7 :o 9] [:o :x 3 4 :x :x 7 :o 9] [:o :x 3 :o :x :x 7 :o 9] [:o :x :x :o :x :x 7 :o 9] [:o :x :x :o :x :x :o :o 9]], :second-ai-level nil, :mode 2, :first-ai-level 3, :game-state "O wins!", :human? true, :ui :tui, :player :x, :board [1 2 3 4 5 6 7 8 9]}
{:game-id 22, :filepath "src/tic_tac_toe/game_logs/in_progress/game-22.edn", :current-screen :play, :db :edn, :moves [[1 2 3 4 :x 6 7 8 9] [:o 2 3 4 :x 6 7 8 9] [:o :x 3 4 :x 6 7 8 9] [:o :x 3 4 :x 6 7 :o 9] [:o :x :x 4 :x 6 7 :o 9] [:o :x :x 4 :x 6 :o :o 9] [:o :x :x :x :x 6 :o :o 9] [:o :x :x :x :x 6 :o :o :o]], :second-ai-level nil, :mode 2, :first-ai-level 3, :game-state "O wins!", :human? true, :ui :gui, :player :x, :board [1 2 3 4 5 6 7 8 9]}
